USE [master]
GO
/****** Object:  Database [BettingDB]    Script Date: 10.5.2022 г. 13:48:59 ******/
CREATE DATABASE [BettingDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BettingDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\BettingDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BettingDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\BettingDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BettingDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BettingDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 10.5.2022 г. 13:48:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BetChangeLogs]    Script Date: 10.5.2022 г. 13:48:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BetChangeLogs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BetXmlId] [int] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[IsLive] [bit] NOT NULL,
	[MatchId] [int] NOT NULL,
	[ActionType] [nvarchar](max) NULL,
	[DateCreated] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_BetChangeLogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BetHistories]    Script Date: 10.5.2022 г. 13:48:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BetHistories](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[IsLive] [bit] NOT NULL,
	[MatchStartDate] [datetime2](7) NULL,
	[MatchType] [int] NULL,
	[MatchHistoryId] [int] NOT NULL,
	[DateCreated] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_BetHistories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bets]    Script Date: 10.5.2022 г. 13:48:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bets](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[IsLive] [bit] NOT NULL,
	[MatchId] [int] NOT NULL,
 CONSTRAINT [PK_Bets] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EventHistories]    Script Date: 10.5.2022 г. 13:48:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventHistories](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[IsLive] [bit] NOT NULL,
	[CategoryID] [int] NOT NULL,
	[SportHistoryId] [int] NOT NULL,
 CONSTRAINT [PK_EventHistories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Events]    Script Date: 10.5.2022 г. 13:48:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Events](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[IsLive] [bit] NOT NULL,
	[CategoryID] [int] NOT NULL,
	[SportId] [int] NOT NULL,
 CONSTRAINT [PK_Events] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MatchChangeLogs]    Script Date: 10.5.2022 г. 13:48:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MatchChangeLogs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MatchXmlId] [int] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[StartDate] [datetime2](7) NULL,
	[MatchType] [int] NULL,
	[EventId] [int] NOT NULL,
	[ActionType] [nvarchar](max) NULL,
	[DateCreated] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_MatchChangeLogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Matches]    Script Date: 10.5.2022 г. 13:48:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Matches](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[MatchType] [int] NOT NULL,
	[EventId] [int] NOT NULL,
 CONSTRAINT [PK_Matches] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MatchHistories]    Script Date: 10.5.2022 г. 13:48:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MatchHistories](
	[Id] [int] NOT NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[MatchType] [int] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[EventHistoryId] [int] NOT NULL,
	[DateCreated] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_MatchHistories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC,
	[MatchType] ASC,
	[StartDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OddChangeLogs]    Script Date: 10.5.2022 г. 13:48:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OddChangeLogs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OddXmlId] [int] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Value] [decimal](18, 2) NOT NULL,
	[SpecialValueBet] [nvarchar](max) NULL,
	[BetId] [int] NOT NULL,
	[ActionType] [nvarchar](max) NULL,
	[DateCreated] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_OddChangeLogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OddHistories]    Script Date: 10.5.2022 г. 13:48:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OddHistories](
	[Id] [int] NOT NULL,
	[Value] [decimal](6, 2) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[SpecialValueBet] [nvarchar](max) NULL,
	[BetHistoryId] [int] NOT NULL,
	[DateCreated] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_OddHistories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC,
	[Value] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Odds]    Script Date: 10.5.2022 г. 13:48:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Odds](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Value] [decimal](6, 2) NOT NULL,
	[SpecialValueBet] [nvarchar](max) NULL,
	[BetId] [int] NOT NULL,
 CONSTRAINT [PK_Odds] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SportHistories]    Script Date: 10.5.2022 г. 13:48:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SportHistories](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_SportHistories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sports]    Script Date: 10.5.2022 г. 13:48:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sports](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_Sports] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_BetHistories_MatchHistoryId_MatchType_MatchStartDate]    Script Date: 10.5.2022 г. 13:48:59 ******/
CREATE NONCLUSTERED INDEX [IX_BetHistories_MatchHistoryId_MatchType_MatchStartDate] ON [dbo].[BetHistories]
(
	[MatchHistoryId] ASC,
	[MatchType] ASC,
	[MatchStartDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Bets_MatchId]    Script Date: 10.5.2022 г. 13:48:59 ******/
CREATE NONCLUSTERED INDEX [IX_Bets_MatchId] ON [dbo].[Bets]
(
	[MatchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_EventHistories_SportHistoryId]    Script Date: 10.5.2022 г. 13:48:59 ******/
CREATE NONCLUSTERED INDEX [IX_EventHistories_SportHistoryId] ON [dbo].[EventHistories]
(
	[SportHistoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Events_SportId]    Script Date: 10.5.2022 г. 13:48:59 ******/
CREATE NONCLUSTERED INDEX [IX_Events_SportId] ON [dbo].[Events]
(
	[SportId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Matches_EventId]    Script Date: 10.5.2022 г. 13:48:59 ******/
CREATE NONCLUSTERED INDEX [IX_Matches_EventId] ON [dbo].[Matches]
(
	[EventId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MatchHistories_EventHistoryId]    Script Date: 10.5.2022 г. 13:48:59 ******/
CREATE NONCLUSTERED INDEX [IX_MatchHistories_EventHistoryId] ON [dbo].[MatchHistories]
(
	[EventHistoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OddHistories_BetHistoryId]    Script Date: 10.5.2022 г. 13:48:59 ******/
CREATE NONCLUSTERED INDEX [IX_OddHistories_BetHistoryId] ON [dbo].[OddHistories]
(
	[BetHistoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Odds_BetId]    Script Date: 10.5.2022 г. 13:48:59 ******/
CREATE NONCLUSTERED INDEX [IX_Odds_BetId] ON [dbo].[Odds]
(
	[BetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BetHistories]  WITH CHECK ADD  CONSTRAINT [FK_BetHistories_MatchHistories_MatchHistoryId_MatchType_MatchStartDate] FOREIGN KEY([MatchHistoryId], [MatchType], [MatchStartDate])
REFERENCES [dbo].[MatchHistories] ([Id], [MatchType], [StartDate])
GO
ALTER TABLE [dbo].[BetHistories] CHECK CONSTRAINT [FK_BetHistories_MatchHistories_MatchHistoryId_MatchType_MatchStartDate]
GO
ALTER TABLE [dbo].[Bets]  WITH CHECK ADD  CONSTRAINT [FK_Bets_Matches_MatchId] FOREIGN KEY([MatchId])
REFERENCES [dbo].[Matches] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Bets] CHECK CONSTRAINT [FK_Bets_Matches_MatchId]
GO
ALTER TABLE [dbo].[EventHistories]  WITH CHECK ADD  CONSTRAINT [FK_EventHistories_SportHistories_SportHistoryId] FOREIGN KEY([SportHistoryId])
REFERENCES [dbo].[SportHistories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EventHistories] CHECK CONSTRAINT [FK_EventHistories_SportHistories_SportHistoryId]
GO
ALTER TABLE [dbo].[Events]  WITH CHECK ADD  CONSTRAINT [FK_Events_Sports_SportId] FOREIGN KEY([SportId])
REFERENCES [dbo].[Sports] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Events] CHECK CONSTRAINT [FK_Events_Sports_SportId]
GO
ALTER TABLE [dbo].[Matches]  WITH CHECK ADD  CONSTRAINT [FK_Matches_Events_EventId] FOREIGN KEY([EventId])
REFERENCES [dbo].[Events] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Matches] CHECK CONSTRAINT [FK_Matches_Events_EventId]
GO
ALTER TABLE [dbo].[MatchHistories]  WITH CHECK ADD  CONSTRAINT [FK_MatchHistories_EventHistories_EventHistoryId] FOREIGN KEY([EventHistoryId])
REFERENCES [dbo].[EventHistories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MatchHistories] CHECK CONSTRAINT [FK_MatchHistories_EventHistories_EventHistoryId]
GO
ALTER TABLE [dbo].[OddHistories]  WITH CHECK ADD  CONSTRAINT [FK_OddHistories_BetHistories_BetHistoryId] FOREIGN KEY([BetHistoryId])
REFERENCES [dbo].[BetHistories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OddHistories] CHECK CONSTRAINT [FK_OddHistories_BetHistories_BetHistoryId]
GO
ALTER TABLE [dbo].[Odds]  WITH CHECK ADD  CONSTRAINT [FK_Odds_Bets_BetId] FOREIGN KEY([BetId])
REFERENCES [dbo].[Bets] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Odds] CHECK CONSTRAINT [FK_Odds_Bets_BetId]
GO
USE [master]
GO
